@tailwind base;
@tailwind components;
@tailwind utilities;
.wrapper {
    display: flex;
    overflow: auto;
    width: 850px;
  }
  .wrapper::-webkit-scrollbar {
    width: 0;
  }

hr.new1 {
    border-top: 1px solid black;
  }
